# Heavy build artifacts
node_modules/
**/node_modules/
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]

# Dist / build folders
dist/
**/dist/
build/
**/build/

# OS files
.DS_Store
Thumbs.db

# Inner git repo backups
**/.git_repo/
.git_repo/
